*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 50px;
}
.container{
    max-width: 1136px;
    margin: auto;
}
header{
    background-color: green;
    margin: 30px 0 60px 0;
    padding: 20px;
}
header h1{
    color: white;
    text-align: center;
}
.wrapper img{
    width: 100%;
   
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.wrapper .item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: green;
    padding: 30px;
}
.wrapper .item1 h3{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}
.wrapper .item1 p{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}